body{
    background-image: url(../src/assets/images/fondoDisney.jfif);
    background-size: cover;
    height: -webkit-fill-available;
    // background-position: center;
    display: flex;
    // align-items: center;
    // justify-content: center;
    color: white;
}
